{% extends "base.html" %}

{% block logout %}
    {% if user.is_authenticated %}
        <a class="btn btn-danger" href="{% url 'tienda:logout' %}">Cerrar Sesión</a> 
    {% endif %}
{% endblock %}


{% block categoria %}
    <div class="row">{# definiendo columna #}
        {% if cate_list %}
                <div class="jumbotron jumbotron-fluid">
                    <div class="container-fluid">
                        <div class="row row-cols-5 row-cols-md-4 row-cols-lg-4">
                            {% for cate in cate_list %}
                                <div class="col mb-4">
                                <div class="card">
                                    <a href="{% url 'tienda:sub_categoria' cate.id %}"><img class="img-fluid img-thumbnail" src=" {{ MEDIA_URL }}{{ cate.icono }}" class="card-img-top" alt="..."></a>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ cate.categoria }}</h5>
                                    </div>
                                </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
        {% else %}
            <p>No hay categorias que mostrar</p>
        {% endif %}
    </div>
{% endblock %}
{% block anuncios %}

{% endblock %}
{# se mostraran todas las ventas de los usuarios #}
{% block ventas %}
    {% if producto %}
        <div class="row"> {# se agrega una fila dentro del contenedor que tendra todos los productos #}
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-4">
                {% for prod in producto %}
                        <div class="col mb-4">
                            <div class="card">
                                {# Titulo Vendedor#}
                                <h5 class="card-title">Tienda {{ prod.mayorista }}</h5>
                                {#titulo de producto#}
                                <h5 class="card-title">{{ prod.producto }}</h5>
                                {#Imagen del producto#}
                                <a href="/superStore/producto/detalle_producto/{{ prod.url }}/{{prod.id}}">
                                   <center><img class="img-fluid img-thumbnail" src="{{ MEDIA_URL }}{{ prod.foto_producto1 }}" width="265em" height="200em" alt=""></center> 
                                </a>
                                <div class="card-body">
                                    {# precio por unidad del producto#}
                                    <h4 class="card-title">${{ prod.precio_unitario }}</h4>
                                </div>
                            </div>
                        </div>
                {% endfor %}                   
                </div>
            </div>
        </div> 
    {% else %}
        <p>No hay datos que mostrar</p>     
    {% endif %}

{% endblock %}

{% block script %}

    {% load static %}{# cargando el recurso de la carpeta estatica #}
    <script src="{% static "js/store.js" %}"></script>{# llamando al archivo js principal que se encarga de gestionar eventos #}

{% endblock %}