{% extends "base.html" %}

{% block contenido %}
    <h1>{{ Usuario.username}}</h1>
    {# cargando la imagen de media#}
    <img id="fotoPerfil" width="200px" height="200px" src="{{ MEDIA_URL }}{{ cliente.foto_perfil }}" alt="">
    <form action="{% url 'tienda:editarUsuario' id_cliente %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="form-control">
            <input type="text" name="first_name" placeholder="Nombres" value="{{ Usuario.first_name }}">
        </div>
        <div class="form-control">
            <input type="text" name="last_name" placeholder="Apellidos" value="{{ Usuario.last_name }}">
        </div>
        <div class="form-control">
            <input type="text" name="email" placeholder="Correo" value="{{ Usuario.email }}">
        </div>
        <div class="form-control">
            <input type="file" accept="image/*"  name="foto_perfil" id="foto">
        </div>
        <div class="form-control">
            <select name="genero">
                {% ifequal cliente.genero "M" %}
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                {% endifequal %}
                {% ifequal cliente.genero "F" %}
                    <option value="F">Femenino</option>
                    <option value="M">Masculino</option>
                {% endifequal %}
            </select>
        </div>
        <div class="form-control">
            <input type="text" name="telefono" placeholder="Telefono" value="{{ cliente.telefono }}" placeholder="telefono">
        </div>
        <div class="form-control">
            <input type="date" name="fecha_nacimiento" value="{{ cliente.fecha_nacimiento | date:"Y-m-d" }}">
        </div>
        <div class="form-control">
            <button class="btn btn-success" type="submit">Guardar</button>
        </div>
        <div class="form-control">
            <a class="btn btn-success" href="{% url 'tienda:index' %}">Inicio</a>
        </div>
        
    </form>
{% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static "js/perfilApp.js" %}"></script>
{% endblock %}