{% extends "superStore/index.html" %}
{# definiendo archivos css #}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/inicio_estilos.css"%}">
{% endblock %}
{% block clave %}
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
{% endblock %}
{% block item %}{# defino los elementos del menu del usuario #}
    <ul class="navbar-nav mr-auto nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="">Lista de <br> Deseos</a>
        </li>
        <li class="nav-item">
            {% if cliente %}
                <a href="{% url 'tienda:list_cesta' cliente.id %}" class="nav-link">Cesta</a>{# aqui si existe cliente se podra acceder al listado de productos de la cesta#}
            {% endif %}
            {% if proveedor %}
                <a href="" class="nav-link">Ventas</a>
            {% endif %}
            
        </li>
        <li class="nav-item">
            {% if cliente %}{# si existe la variable cliente #}
                <a class="nav-link" href="/superStore/perfil_info/{{ cliente.user.id }}/{{ cliente.user.tipo_usuario_id.tipo_usuario }}">Perfil <br> {{ cliente.user }} <span class="sr-only">(current)</span></a>  
            {% endif %}
            {% if proveedor %}
                <a class="nav-link" href="/superStore/perfil_info/{{ proveedor.user.id }}/{{ proveedor.user.tipo_usuario_id.tipo_usuario }}">Perfil <br> {{ proveedor.user }}</a>
            {% endif %}
        </li>
        
    </ul>
{% endblock %}
{% block logout %}
    <a class="btn btn-danger" href="">Cerrar Sesión</a> 
{% endblock %}
{% block categoria %}
    <div class="row">{# definiendo columna #}
        {% if cate_list %}
                <div class="jumbotron jumbotron-fluid">
                    <div class="container-fluid">
                        <div class="row row-cols-5 row-cols-md-4 row-cols-lg-4">
                            {% for cate in cate_list %}
                                <div class="col mb-4">
                                <div class="card">
                                    <a href="{% url 'tienda:sub_categoria' cate.id %}"><img src=" {{ MEDIA_URL }}{{ cate.icono }}" width="100px" height="200px" class="card-img-top" alt="..."></a>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ cate.categoria }}</h5>
                                    </div>
                                </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
        {% else %}
            <p>No hay categorias que mostrar</p>
        {% endif %}
{% endblock %}