{% extends "base.html" %}
{# cesta_list es el nombre del contexto que recibo#}
{% block contenido %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <form action="" method="get">
                {% csrf_token %}
                <input type="text" placeholder="Buscar">
                <button class="btn btn-success" type="submit">Buscar</button>
            </form>
        </tr>
        <tr>
            <a class="btn btn-success" href="{% url 'tienda:dire' id_cliente %}">Nueva direccion</a>
        </tr>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Usuario</th>
            <th scope="col">Direccion</th>
            <th colspan="2">Opciones</th>
        </tr>
        </thead>
        <tbody>
            {% if dire_list %}
                {% for dire in dire_list%}
                <tr>
                    <th scope="row">{{ dire.id }}</th>
                    <th>{{ dire.cliente }} </th>
                    <th>{{ dire.pais }} {{ dire.departamento }} {{ dire.municipio }} {{ dire.barrio_canton }} {{ dire.calle }} {{ dire.referencia }} </th>
                    {% ifequal dire.estado True %}
                        <th style="background-color: orangered;"> Selecionado </th>
                    {% else %}
                        <th style="background-color:orchid;">No selecionado</th>
                    {% endifequal %}
                    <td><a class="btn btn-success" href="{% url 'tienda:dire_edi' dire.id %}">Editar</a></td>
                    <td><a class="btn btn-danger" href="{% url 'tienda:del_dire' dire.id %}">Eliminar</a></td>
                </tr>
                {% endfor %}

        </tbody>
        {% else %}
            <p>No hay registros que mostrar</p>

        {% endif %}
    </table>
    <a class="btn btn-success" href="">Regresar</a>
    <a class="btn btn-success" href="{% url 'tienda:index' %}">Terminar</a>
{% endblock %}