{% extends "base.html" %}
{% block titulo %}
    <title>Iniciar Sesión</title>
{% endblock %}
{% block clave %}

{% endblock %}

{% load crispy_forms_tags %}{# Declarando el plugin crispy #}
{% block contenido %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="float-right">
                <a class="btn btn-danger" href="">Olvide mi contraseña</a> 
                <input type="submit" value="Iniciar sesión">
            </div>


        </form>
    </div>
{% endblock %}