{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">

{% block titulo %}
  <title>Nuevo Usuario</title>
{% endblock %}

{% block clave %}

{% endblock %}

{% block contenido %}
{% load crispy_forms_tags %}
<div class="container">
  <div>
    <h1><center>REGISTRAR NUEVO USUARIO</center></h1>
</div>
<div class="container">
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}

    <div class="float-right">
      <button type="submit" class="btn btn-primary">Siguiente</button>
      <a class="btn btn-success" href="{% url 'tienda:index' %}">Inicio</a>
    </div>
  </form>
</div>
</div>



{% endblock %}