{% extends "base.html" %}

{% block titulo %}
    <title>Informacion Proveedor</title>
{% endblock %}

{% block clave %}

{% endblock %}

{% block contenido %}

    <div class="container">
        <div class="col-md-12">
            <center><img id="fotoPerfil" width="200px" height="200px" src="" alt=""></center>
        </div>
        <div class="col-md-12">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.foto_perfil.label_tag }}
                        {{ form.foto_perfil }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.user.label_tag }}
                        {{ form.user }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.genero.label_tag}}
                        {{ form.genero }}
                    </div class="form-group col-md-6">
                    <div class="form-group col-md-6" >
                        {{ form.nombre_empresa.label_tag }}
                        {{ form.nombre_empresa }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.telefono.label_tag }}
                        {{ form.telefono }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.fecha_nacimiento.label_tag }}
                        {{ form.fecha_nacimiento }}
                    </div>
                    <div class="form-group col-md-12">
                        {{ form.objetivo.label_tag }}
                        {{ form.objetivo }}
                    </div>
                    <div class="form-group col-md-12">
                        <form id="idDir" action="">
                            {{ formDir }}
                        </form>
                    </div>
                    <div class="form-group col-md-12">
                        {{ form.barrio_canton.label_tag }}
                        {{ form.barrio_canton }}
                    </div>
                    <div class="form-group col-md-12">
                        <button class="btn btn-success" type="submit" >Guardar y siguiente</button> 
                    </div>

                </div>
            </form>
            <div style="color:yellow;" class="col-md-12">
                {{ form.errors }}
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    {% load static %}   
    <script src="{% static "js/perfilApp.js" %}"></script>
{% endblock %}