{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block titulo %}

    <title>Informacion Cliente</title>

{% endblock %}

{% block clave %}

{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="col-md-12">
            <center><img id="fotoPerfil" width="200px" height="200px" src="" alt=""></center>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="float-right">
                <button class="btn btn-success" type="submit">Siguiente</button>
            </div>
            
        </form>
    </div>
{% endblock %}
{% block script %}
    {% load static %}
    <script src="{% static "js/perfilApp.js" %}"></script>
{% endblock %}