{% extends "base.html" %}

{% block css_agregado %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/vender.css" %}">
{% endblock %}

{% block titulo %}
    <title>Vender</title>
{% endblock %}


{% block contenido %}
    {#Botones#}
    <div>
        <button id="nueva_venta" type="button" class="btn btn-primary" >Nueva Venta</button>
        <Button id="btn_listprod" type="button" disabled class="btn btn-primary" data-toggle='modal' data-target="#list_prod">Agregar Productos</Button>
        <div class="modal fade" id="list_prod" tabindex="-1" aria-labelledby="">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 100vh;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="lbl1">Seleccionar Producto</h5>
                        <button type="button" class="close" data-dismiss="modal" arial-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="prodajax" method="post">
                            {% csrf_token %}
                            <div style="height: 10vh;" class="form-control">
                                <label for="txt_clave_prod">Nombre del producto</label>
                                <input id="txt_clave_prod" type="text">
                                <button type="submit">Buscar</button>
                                <label for="txt_cantidad">Cantidad:</label>
                                <input id="txt_cantidad" type="text" style="width: 10vh; height:5vh;">
                            </div>
                        </form>
                        <div style="height: 5vh;;">

                        </div>
                        <div id="content_table" style=" height:50vh; overflow-y:scroll;">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button id="agregar" type="button" class="btn btn-primary">Agregar</button>
                    </div>
                </div>
            </div>
        </div>

        <button id="btn_listclient" type="button" disabled class="btn btn-primary" data-toggle="modal" data-target="#list_client" data-whatever="">Agregar Clientes</button>
        <div class="modal fade" id="list_client" tabindex="-1" aria-labelledby="cliente_modal" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content" style="width: 100vh;">
                <div class="modal-header">
                  <h5 class="modal-title" id="cliente_modal">Buscar Cliente</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form id="clientajax" method="post">
                        {% csrf_token %}
                        <div style="height: 10vh;" class="form-control">
                            <label for="txt_clave_cliente">Nombre del producto</label>
                            <input id="txt_clave_cliente" type="text">
                            <button type="submit">Buscar</button>
                        </div>
                    </form>
                    <div style="height: 5vh;;">

                    </div>
                    <div id="content_clientes" style=" height:50vh; overflow-y:scroll;">

                    </div>                    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  <button id="btn_select_cliente" type="button" class="btn btn-primary">Seleccionar</button>
                </div>
              </div>
            </div>
          </div>
          <button id="btn_cancelar" type="button" disabled class="btn btn-primary" data-toggle="modal" data-target="#cancelar_venta">
            Cancelar Venta
          </button>
          
          <!-- Modal -->
          <div class="modal fade" id="cancelar_venta" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">¿Eliminar Venta?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ¿Esta seguro que se desea eliminar esta venta?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <button id="btn_cancelar_venta" type="button" class="btn btn-primary">Si</button>
                </div>
              </div>
            </div>
          </div>

          {#<button id="btn_cancelar_venta" disabled class="btn btn-primary">Cancelar Venta</button>#}
    </div>
    <div style="height: 25vh;">
        <form action="" id="formRegVenta">
            {% csrf_token %}
            <div class="form-group">
                <input type="hidden" name="" id="id_factura" value="">{# servira para obtener la factura#}
                <input type="hidden" name="" id="id_cliente" value="">
                <label for="">Numero de Factura</label>
                <input id="txt_numero_fact" name="codigo_factura" type="text" disabled>
                <label for="">Cliente:</label>
                <input id="txt_cliente" type="text" disabled>
            </div>
            <div class="form-group">
                <label for="">Direccion:</label>
                <input id="txt_direccion" type="text" disabled>
                <label for="">NIT:</label>
                <input id="txt_nit" name="nit" type="text" disabled>
            </div>
            <button id="btn_efectuar_venta" disabled type="submit" class="btn btn-primary">Efectuar venta</button>
            {#boton de eliminar todas las ventas en la tabla#}
            <button id="btn_limpiar_tabla_ventas" disabled type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteVentasTodas">
                Eliminar todas las ventas agregadas
              </button>
              
              {#cuadro model para pedir confirmacion de eliminacion de todas las ventas#}
              <div class="modal fade" id="deleteVentasTodas" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">¿Eliminar todas las ventas agregadas?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ¿Esta seguro que desea eliminar todas las ventas?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                      <button id="btn_eliminar_todas_ventas" type="button" class="btn btn-primary">Si! eliminar todas las ventas</button>
                    </div>
                  </div>
                </div>
              </div>
        </form>
        
    </div>

    <div id="table_ventas">{# div donde de mostraras las vendas efectuadas #}
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Producto</th>
                <th scope="col">cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Total</th>
                <th scope="col" colspan="2">Operaciones</th>
              </tr>
            </thead>
            <tbody id="table_body">
                {# Aqui iria el contenido de la venta #}
            </tbody>
          </table>
    </div>
{% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static "js/jquery.mask.js" %}"></script>
    <script src="{% static "js/opvender.js" %}"></script>
{% endblock %}