{% extends "base.html" %}
{# cesta_list es el nombre del contexto que recibo#}
{% block contenido %}
<div class="container">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">No</th>
            <th scope="col">Producto</th>
            <th scope="col">Cliente</th>
            <th scope="col">Fecha y hora de transaccion</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio Unitario</th>
            <th scope="col">Precio Total</th>
            <th colspan="3" scope="col">Direccion</th>
            <th scope="col" colspan="3">Opciones</th>
        </tr>
        </thead>
        <tbody>
            {% if cesta_list %}
                {% for cesta in cesta_list%}
                <tr>
                    <th scope="row">{{ cesta.id }}</th>
                    <td>{{ cesta.producto }}</td>
                    <td>{{ cesta.cliente }}</td>
                    <td>{{ cesta.fecha_hora_realizado }}</td>
                    <td>{{ cesta.cantidad }}</td>
                    <td>{{ cesta.precio_unitario }}</td>
                    <td>{{ cesta.precio_total }}</td>
                    <td colspan="3">{{ cesta.direccion }}</td>
                    <td><a class="btn btn-success" href="{% url 'tienda:actualizar_cesta' cesta.id %}">Editar</a></td>
                    <td><a class="btn btn-primary" href="{% url 'tienda:reg_venta' cesta.producto.id %}">Comprar</a></td>
                    <td><a class="btn btn-danger" href="{% url 'tienda:eliminar_cesta' cesta.id %}">Eliminar</a></td>
                </tr>
                {% endfor %}

        </tbody>
        {% else %}
            <p>No hay registros que mostrar</p>

        {% endif %}
    </table>
    <a class="btn btn-success" href="{% url 'tienda:index' %}">Inicio</a>
</div>

{% endblock %}