.estiloLogin{
    width: 1250px;
    height: 500px;
    position: fixed; left: 40px; top: 40px;
    float: left;
    z-index: 500;
}
.busqueda{
    width: 40%;
    height: 20%;
}

.estiloCategora{
    display: none;   
}
.visible{
    display: none;
}
.chat{
   background: rgba(0, 0, 102, 1); 
   width: 30%;
   color: rgb(255, 255, 255, 1);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   text-align: center;
   padding: 33px;
   min-height: 250px;
   border-radius:22px;
   position: absolute;
   left: 34%;
   top: 30%;
   z-index: 300;
   display: none;

}
#cont_chat{
    position: absolute;
    right: 5px;
    top:1px;
}
.h-scroll{
    position: fixed;
    height: 200px;
    overflow-y: scroll;
}
.col-center{
    float: none;
    margin: 0 auto;
}
/*aplicando css a el formulario comentar de detalle de producto */

/*#comentar{
    width: 250px;
    margin: 0 auto;
    height: 50px;
}*/
#comentar p {

    text-align: left;
}

#comentar label {
    font-size: 20px;
}
.clasificacion{
    direction: rtl;/* right to left */
    unicode-bidi: bidi-override;/* bidi de bidireccional */
}
#comentar input[type="radio"]{
    display: none;
}

#comentar label {
    color: grey;
}

#comentar label:hover, label:hover ~ label{
    color: orange;
}

#comentar input[type="radio"]:checked ~ label {
    color:orange;
}
