
.selected{
    cursor: pointer;
}
.selected:hover{
    background-color: #8b189d;
    color:white;
}
.fila_selecionada{
    background-color: #8b189d;
    color: white;
}

#btn_listprod:disabled{
    background-color: #696669;
}
#btn_listclient:disabled{
    background-color: #696669;
}