{% extends "base.html" %}
{% block titulo %}
    <title>Favoritos</title>
{% endblock %}

{% block contenido %}
    <div class="container">
        <center><h1>Favoritos</h1></center>
        {% if favoritos %}
        <div class="row"> {# se agrega una fila dentro del contenedor que tendra todos los productos #}
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-4">
                {% for fav in favoritos %}
                        <div class="col mb-4">
                            <div class="card">
                                {# Titulo Vendedor#}
                                <h5 class="card-title">Tienda {{ fav.producto.mayorista }}</h5>
                                {#titulo de producto#}
                                <h5 class="card-title">{{ fav.producto.producto }}</h5>
                                {#Imagen del producto#}
                                <a href="/superStore/producto/detalle_producto/{{ fav.producto.url }}/{{ fav.producto.id }}">
                                   <center><img class="img-fluid img-thumbnail" src="{{ MEDIA_URL }}{{ fav.producto.foto_producto1 }}" alt=""></center> 
                                </a>
                                <div class="card-body">
                                    {# precio por unidad del producto#}
                                    <h4 class="card-title">${{ fav.producto.precio_unitario }}</h4>
                                    <form style="display: flex; align-items:center; justify-content: center;" class="aniadir_favorito" action="{% url 'tienda:favorito' fav.producto.id %}" method="post">
                                        {% csrf_token %}
                                        <input id="cliente_id" type="hidden" name="cliente_id" value="{{ cliente_id }}">
                                        <button type="submit"  class="btn btn-success" name="boton">Añadir a <br>Favoritos</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                {% endfor %}                   
                </div>
            </div>
        </div> 
        {% else %}
        <p>No hay datos que mostrar</p>     
        {% endif %}  
        <a href="{% url 'tienda:index' %}" class="btn btn-primary">Inicio</a>
    </div>
{% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static "js/appFavoritos.js" %}" ></script>
{% endblock %}