{% extends "base.html" %}

{% block css_agregado %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/comprar.css" %}">
{% endblock %}

{% block titulo %}
    <title>Compras</title>
{% endblock %}

{% block contenido %}
    <div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="">Productos</button>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 85vh;">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Listado de Productos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div id="busqueda" style="height: 15vh;">
                  <form method="GET">
                      <input id="txt_clave_prod" type="text" placeholder="producto"><br/>
  
                      <button class="btn btn-primary" type="submit">Buscar</button>
                      <a class="btn btn-secondary" href="#">Nuevo Proveedor</a>
                      <a class="btn btn-secondary" href="#">Nuevo <br/>Producto</a>
                  </form>
                </div>
                <div style="height: 5vh;;">

                </div>
                <div class="ponerScroll " id="tabla">
                  <table class="table table-dark">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">producto</th>
                        <th scope="col">Existencia Actual</th>
                      </tr>
                    </thead>
                    <tbody id="productos">
   
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Agregar</button>
              </div>
            </div>
          </div>
        </div>


        <div id="compras">
          <table class="table table-dark">
            <thead>
                <th scope="col">ID</th>
                <th scope="col">Producto</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Total</th>
            </thead>
            <tbody id="lista_compras">

            </tbody>
          </table>
        </div>
    </div>
{% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static "js/compras.js" %}"></script>
{% endblock %}