{% extends "base.html" %}

{% block titulo %}
    <title>REPORTES</title>
{% endblock %}

{% block contenido %}
    <h1>Reportes</h1>
    <div>
        <a id="btn_diario" href="#" class="btn btn-primary">Reporte diario</a>
        <a id="btn_intervalo" href="#" class="btn btn-primary">Reportes por intervalo de fecha</a>
        <a id="btn_mes" href="#" class="btn btn-danger">Reporte anual</a>
    </div>
    <div id="fechas">
        <div style="display: none;" id="dia">
            <form target="_blank" action="{% url 'tienda:reporte_diario' %}" method="POST">
                {% csrf_token %}
                {{ form_dia }}
                <button class="btn btn-primary" type="submit">Generar</button>
            </form>

        </div>
        <div id="fecha_intervalo" style="display: none;"> 
            <form id="form-fechas" target="_blank" action="{% url 'tienda:generar_reporte' %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-success" type="submit">Generar</button>
            </form>
        </div>
        <div id="fecha_mes" style="display: none;">
            <form action="{% url 'tienda:generar_reporte_anual' %}" target="_blank" method="POST">
                {% csrf_token %}
                {{ formMes }}
                <button class="btn btn-success" type="submit">Generar</button>
            </form>
        </div>
    </div>

{% endblock %}


{% block script %}
    {% load static %}
    <script src="{% static "js/reporte.js" %}"></script>
{% endblock %}