{% extends "base.html" %}

{% block metas %}
    <meta name="prod_id" content="{{ producto_id }}">
    {% if user.id %}
      <meta name="prove_id" content="{{ detalle_producto.mayorista.user.id }}"> 
      <meta name="name_user" content="{{ user.username }}">
      <meta name="name_prove" content="{{ detalle_producto.mayorista.user.username }}">
      <meta name="is_authenticated" content="{{ user.is_authenticated }}">
      <meta name="tipo_user" content="{{ user.tipo_usuario_id.tipo_usuario }}">
    {% endif %}
{% endblock %}

{% block css %}
  {% load static %}
  <link rel="stylesheet" href="{% static "css/estilos.css" %}">
{% endblock %}

{#<input id="prod_id" type="hidden" name="producto_id" value="{{ producto_id }}">#} 
{% block titulo %}
    <title>Detalle de producto</title>
{% endblock %}

{% block clave %}

{% endblock %}

{% block contenido %}
{# Informacion del producto a comprar #}
<div class="container">
  <ul class="nav nav-tabs nav-pills">
    <li class="nav-item">
      <a id="ver_perfil_tienda" class="nav-link" href="{% url 'tienda:verifica_seguidor' detalle_producto.mayorista.id %}">Informacion<br>de Vendedor</a>
    </li>
    <li class="nav-item">
      <a id="ver_detalle_producto" class="nav-link active" href="#">Detalle <br> producto</a>
    </li>
    <li class="nav-item">
      <input id="mayo" value="{{ detalle_producto.mayorista.id }}" type="hidden">{# servira para capturar el id del proveedor #}
      <a id="ver_tienda_prove" class="nav-link" href="{% url 'tienda:prod_all' %}">Tienda</a>
    </li>
  </ul>
</div>
{# tienda y listado de productos de ese mayorista#}
<div id="ver_tienda" class="container visible">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <form id="buscar" action="{% url 'tienda:prod_search' %}"  method="POST">
        {% csrf_token %}
        <input id="prove" type="hidden" name="prove_id" value="{{ detalle_producto.mayorista.id }}">
        <input id="clave" type="text">
        <button class="btn btn-primary" name="clave">Buscar</button>
      </form>
    </div>
  </div>
  <div class="row">{# aqui se mostrara todo el contenido de la tienda cuando el usuario le de en la opcion tienda arriba #}
      <div class="container-fluid">
          <div id="listado" class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-4">
              {# se mostrara todo el contenido de la tienda con javascript #}
          </div>
    </div>
</div> 
</div>
{# informacion del perfil de la tienda #}
<div id="perfil_tienda" class="container visible">{# la clase visible oculta inicialmente el div #}
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card" style="width: 35rem;">
          <img src="{{ MEDIA_URL }}{{ detalle_producto.mayorista.foto_perfil }}" class="card-img-top img-thumbnail" alt="">
          <div class="card-body">
            <h5 class="card-title">{{ detalle_producto.mayorista.nombre_empresa }}</h5>
            <p class="card-text">{{ detalle_producto.mayorista.objetivo }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><h5>Registrado desde:</h5>{{ detalle_producto.mayorista.user.date_joined }}</li>
            <li class="list-group-item"><h5>Seguidores</h5><p id="numero_amigos"></p></li>
            <li class="list-group-item"><h5>Direccion: </h5>{{ detalle_producto.mayorista.barrio_canton.municipio.departamento.pais }}, {{ detalle_producto.mayorista.barrio_canton.municipio.departamento }}, {{ detalle_producto.mayorista.barrio_canton.municipio }}, {{ detalle_producto.mayorista.barrio_canton }} </li>
            <input id="id_mayorista" type="hidden" name="" value="{{ detalle_producto.mayorista.id }}">
            <li class="list-group-item">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <p class="error"></p>
                    <a href="{% url 'tienda:nuevo_seguidor' detalle_producto.mayorista.id %}" id="btnSeguir" class="btn btn-primary active" >Seguir</a>
                    <div id="mensaje_pro">

                    </div>
                  </div>
                  <div class="col-md-6">
                    <a class="btn btn-primary contact" href="">contactar al vendedor</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div> 
      </div>
    </div>
</div>
<div id="producto_detalle" class="container">
    <div class="row">
        <div class="col-12">
            <center><h1>Informacion del Producto</h1></center>
        </div>
    </div>
    <div class="row">{#dividiendo la dila en 2#}
        <div class="col-md-6 col-lg-6 col-xl-6">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                      <a data-toggle="lightbox" href="{{ MEDIA_URL }}{{ detalle_producto.foto_producto1 }}">
                        <img class="img-fluid img-thumbnail zoom"  id="foto_producto" src="{{ MEDIA_URL }}{{ detalle_producto.foto_producto1 }}" alt="">{# muestra imagen del producto #}
                      </a>
                    </div>
                </div>
                <div class="row">{# dividiendo la fila en 4#}
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-center">
                        {# imagen en miniatura 1#}
                        <div id="foto1" class="card" style="width: 5rem;">
                            <img class="img-thumbnail foto" src="{{ MEDIA_URL }}{{ detalle_producto.foto_producto1 }}" class="card-img-top" width="80px" height="80" alt="...">
                        </div>
                    </div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-center">
                        {# imagen en miniatura 2#}
                        <div id="foto2" class="card" style="width: 5rem;">
                            <img class="img-thumbnail foto" src="{{ MEDIA_URL }}{{ detalle_producto.foto_producto2 }}" class="card-img-top" width="80px" height="80" alt="...">
                        </div>
                    </div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-center">
                        {# imagen en miniatura 3#}
                        <div id="foto3" class="card" style="width: 5rem;">
                            <img class="img-thumbnail foto" src="{{ MEDIA_URL }}{{ detalle_producto.foto_producto3 }}" class="card-img-top" width="80px" height="80" alt="...">
                        </div>
                    </div>
                </div>
                <div style="margin-top: 20px; " class="row">
                  <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <div>
                      <a id="chat" class="btn btn-primary contact" href="">contactar al vendedor</a>
                    </div>
                  </div>
                  {# agregando segundo boton #}
                  <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <a href="{% url 'tienda:agregar_cesta' detalle_producto.id %}" class="btn btn-primary">Agregar a Cesta</a>
                  </div>
                  {# agregando tercer boton #}
                  <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <a href="{% url 'tienda:reg_venta' detalle_producto.id  %}" class="btn btn-primary">Comprar</a>
                  </div>
                  {# agregando tercer boton #}
                  <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                      {# agregando el boton de favoritos #}
                      <form class="aniadir_favorito" action="{% url 'tienda:favorito' detalle_producto.id %}" method="post">
                        {% csrf_token %}
                        <input id="cliente_id" type="hidden" name="cliente_id" value="{{ cliente_id }}">
                        {% ifequal existe_fav True %}
                          <button type="submit"  class="btn btn-success" name="boton">Añadir a <br>Favoritos</button>                                        
                        {% endifequal %}
                        {% ifequal existe_fav False %}
                          <button type="submit"  class="btn btn-primary" name="boton">Añadir a <br>Favoritos</button>                                        
                        {% endifequal %}
                        </form>
                        <div id="msjErrorFav">

                        </div>
                  </div>
                  <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <a href="#" class="btn btn-primary">Compartir</a>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6">
            <div class="container">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">
                      <div class="d-flex w-100 justify-content-between">
                        <h5>Descripcion del producto</h5>
                      </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5>Vendedor</h5>
                      </div>
                      <p class="mb-1">{{ detalle_producto.mayorista }}</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5>Producto</h5>
                        </div>
                        <p class="mb-1">{{ detalle_producto.producto }}</p>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5>Descripcion</h5>
                        </div>
                        <p class="mb-1">{{ detalle_producto.info_producto }}</p>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5>Cantidad disponible</h5>
                        </div>
                        <p class="mb-1">{{ detalle_producto.cantidad}} unidades</p>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5>Precio por unidad</h5>
                        </div>
                        <p class="mb-1">${{ detalle_producto.precio_unitario}}</p>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5>Costo de Envio</h5>
                        </div>
                        <p class="mb-1">${{ detalle_producto.costo_envio }}</p>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5>Medio de Envío</h5>
                        </div>
                        <p class="mb-1">{{ detalle_producto.medio_de_envio}}</p>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5>Categoria</h5>
                        </div>
                        <p class="mb-1">{{ detalle_producto.sub_categoria1 }}</p>
                      </a>
                  </div>
            </div>
        </div>
    </div>
    <div class="row">
      <h1>Comentarios</h1>
      <div class="col-12" id ="comentarios">

      </div>
      <form class="comt needs-validation" style="display: none;" id="comentar" action="{% url 'tienda:w_coment' %}" method="POST" enctype="multipart/form-data">
        <h3>Puntuacion</h3>
        <p class="clasificacion">
          <input type="radio" name="puntaje" value="5" id="radio1">
          <label for="radio1">★</label>
          <input type="radio" name="puntaje" value="4" id="radio2">
          <label for="radio2">★</label>
          <input type="radio" name="puntaje" value="3" id="radio3">
          <label for="radio3">★</label>
          <input type="radio" name="puntaje" value="2" id="radio4">
          <label for="radio4">★</label>
          <input type="radio" name="puntaje" value="1" id="radio5" checked>
          <label for="radio5">★</label>
          
        </p>
        <div class="form-row">
          <textarea class="form-control" name="coment" id="cmt" cols="100" rows="3" required></textarea>
        </div>
        <div class="form-row">
          <input class="form-control" type="file" accept="image/*"  name="foto_prueba1" id="foto_prueba1" required>
        </div>
        <div class="form-row">
          <input class="form-control" type="file" accept="image/*"  name="foto_prueba2" id="foto_prueba2" required>         
        </div>
        <div class="form-row">
          <input class="form-control" type="file" accept="image/*"  name="foto_prueba3" id="foto_prueba3" required>         
        </div>
        <button class="btn btn-primary" type="submit">Comentar</button>
      </form>
    </div>
</div>
{#Sala de chat con el vendedor#}
<div class="chat" id="sala_chat">
  <div class="container">
    <div id="cont_chat">
      {% load static %}
      <a id="close" href="#"><img src="{% static "img/close.png" %}" width="20px" height="20px" alt=""></a>
    </div>
    <div id="comentar" class="row">
      <div class="col-12">
        <form action="">
          <textarea  name="" id="ver_sms" cols="20" rows="3">
            
          </textarea>
          <input id="mensaje" type="text" name="" id="" id="mensaje">
          <button id="send" type="submit">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static "js/appProducto.js" %}"></script>
    {#<script src="{% static "js/appChat.js" %}"></script>#}
{% endblock %}