{% extends "base.html" %}
{% block titulo %}
    <title>Lista de productos</title>
{% endblock %}
{# aqui inicia el listado #}
{% block contenido %}
    <div>
      {% if prod_list %}
        <table class="table">
            <thead head class="thead-dark">
              <tr>
                <th scope="col">No</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Producto</th>
                <th scope="col">Categoria</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio Unitario</th>
                <th scope="col">Precio total</th>
                <th scope="col" colspan="2">Opciones</th>
              </tr>
            </thead>
            <tbody>

              {% for prod in prod_list %}
                <tr>
                  <th scope="row">{{ prod.id }}</th>
                  <th>{{ prod.mayorista }}</th>
                  <th>{{ prod.producto }}</th>
                  <th>{{ prod.categoria }}</th>
                  <th>{{ prod.cantidad }}</th>
                  <th>{{ prod.precio_unitario }}</th>
                  <th>{{ prod.precio_total }}</th>
                  <th><a class="btn btn-success" href="">Editar</a></th>
                  <th><a class="btn btn-danger" href="">Eliminar</a></th>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      {% else %}
            <p>No hay valores que mostrar</p>
      {% endif %}
    </div>
{% endblock %}