{% extends "base.html" %}
{% block titulo %}
    <title>Lista de productos</title>
{% endblock %}
{# aqui inicia el listado #}
{% block contenido %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form method="get" action="">
          <div class="input-group mb-3">
            <div class="from-group">
              <input class="form-control" name="prod" type="text" placeholder="Buscar"> 
            </div>
            <div class="input-group-prepend">
              <div class="container">
                <div class="row">
                  <div class="col sm-3">
                    <button class="btn btn-success" type="submit">Buscar</button>
                    <a class="btn btn-success" href="{% url 'tienda:prod' id_prove %}">Nuevo producto</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>  
    </div>
    {# aqui finaliza el formulario de busqueda #}
    {% if prod_list %}
      <div class="row">
        <div class="container-fluid">
          <div class="row row-cols-5 row-cols-sm-1 row-cols-md-1 row-cols-lg-4">
            {% for prod in prod_list  %}
              <div class="col mb">
                <div class="card">
                  <h5 class="card-title">{{ prod.mayorista }}</h5>
                  <h5 class="card-title">{{ prod.producto }}</h5>
                  
                  <center><img class="img-fluid img-thumbnail" src="{{ MEDIA_URL }}{{ prod.foto_producto1 }}" alt=""></center>

                  <div class="card-body">
                    Fecha de registro: <h5 class="card-title">{{ prod.fecha_registro }}</h5>
                    Categoria: <h5 class="card-title">{{ prod.categoria }}</h5>
                    Precio: <h5 class="card-title">$ {{ prod.precio_unitario }}</h5>
                    Cantidad: <h5 class="card-title">{{ prod.cantidad }} unidades</h5>
                    Total: <h5 class="card-title">$ {{ prod.precio_total }}</h5>
                    <center>
                      <a class="btn btn-success" href="{% url 'tienda:edit_prod' prod.id %}">Editar</a>
                      <a class="btn btn-danger" href="{% url 'tienda:del_prod' prod.id %}">Eliminar</a>
                    </center>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>  
    {% else %}
      <p>No ha comprado productos aun!</p>
    {% endif %}
    <div class="row">
      <col-md-3 class="col-lg-3">
        <a href="{% url 'tienda:index' %}" class="btn btn-primary">Inicio</a>
      </col-md-3>
    </div>
  </div>
{% endblock %}