{% extends "base.html" %}

{% block titulo %}
    <title>Registrar Productos</title>
{% endblock %}
{% block clave %}

{% endblock %}
{% load crispy_forms_tags %}{# llamando a crispy para aplicarle boostrap#}
{% block contenido %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="float-right">
            <button class="btn btn-success" type="submit">Guardar</button>
        </div>
    </form>
    <form action="">
        {% csrf_token %}
        {{ subCateForm|crispy }}
    </form>
</div>

{% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static "js/appOpProducto.js" %}" ></script>
{% endblock %}